@keyframes vertical-scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}

@keyframes vertical-scroll-reverse {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes diagonal-scroll-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-66.66%);
  }
}

@keyframes diagonal-scroll-left {
  from {
    transform: translateX(-66.66%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes diagonal-scroll-right-slow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-66.66%);
  }
}

@keyframes diagonal-scroll-left-slow {
  from {
    transform: translateX(-66.66%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-vertical-scroll {
  animation: vertical-scroll 10s linear infinite;
}

.animate-vertical-scroll-reverse {
  animation: vertical-scroll-reverse 10s linear infinite;
}

.animate-diagonal-scroll-right {
  animation: diagonal-scroll-right 25s linear infinite;
}

.animate-diagonal-scroll-left {
  animation: diagonal-scroll-left 20s linear infinite;
}

.animate-diagonal-scroll-right-slow {
  animation: diagonal-scroll-right-slow 35s linear infinite;
}

.animate-diagonal-scroll-left-slow {
  animation: diagonal-scroll-left-slow 30s linear infinite;
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
